;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 []

 :builds
 {:npm {:target :npm-module
        :output-dir "packages/demo"
        :entries [foo.bar
                  foo.baz]}}}
